<div class="row">
    <div class="col-6">
        <div class="alert alert-success align-content-center" role="alert">
            @Message
        </div>
    </div>
</div>

@code {
    [Parameter] public string Message { get; set; }
}